workflow/single-function-compute/definition.json
{
    "Comment": "Download, executes a function and commits to database",
    "StartAt": "download",
    "States": {
        "download": {
            "Type": "Action",
            "ActionUrl": "https://compute.actions.globus.org/",
            "Parameters": {
                "tasks.=": "getattr('tasks')"
            },
            "ResultPath": "$.DownloadResult",
            "Next": "prepare-custom-function"
        },
        "prepare-custom-function": {
            "Type": "ExpressionEval",
            "Comment": "Set details for custom process",
            "Parameters": {
                "tasks": [
                    {
                        "endpoint.$": "$.osprey-worker-endpoint",
                        "function.$": "$.user-wrapper-function",
                        "args.$": "$.DownloadResult.details.result[0][0]",
                        "kwargs.$": "$.DownloadResult.details.result[0][1]"
                    }
                ]
            },
            "ResultPath": "$.CustomFuncParams",
            "Next": "custom-user-function"
        },
        "custom-user-function": {
            "Type": "Action",
            "ActionUrl": "https://compute.actions.globus.org/",
            "Parameters": {
                "tasks.$": "$.CustomFuncParams.tasks"
            },
            "Catch": [
                {
                  "Next": "ActionFailureHandler",
                  "ErrorEquals": [
                    "ActionFailedException"
                  ],
                  "ResultPath": "$.ErrorOutput"
                }
            ],
            "ResultPath": "$.CustomFunctionResult",
            "Next": "prepare-commit"
        },
        "prepare-commit": {
            "Type": "ExpressionEval",
            "Comment": "Set details for database commit process",
            "Parameters": {
                "tasks": [
                    {
                        "endpoint.$": "$.osprey-worker-endpoint",
                        "function.$": "$.database-commit-function",
                        "args.$": "$.CustomFunctionResult.details.result[0][0]",
                        "kwargs.$": "$.CustomFunctionResult.details.result[0][1]"
                    }
                ]
            },
            "ResultPath": "$.CommitParams",
            "Next": "database-commit"
        },
        "database-commit": {
            "Type": "Action",
            "ActionUrl": "https://compute.actions.globus.org/",
            "Parameters": {
                "tasks.$": "$.CommitParams.tasks"
            },
            "End": true
        },
        "ActionFailureHandler": {
            "End": true,
            "Type": "Action",
            "Comment": "Send email to user to notify of flow status ",
            "ActionUrl": "https://actions.globus.org/notification/notify",
            "Parameters": {
              "sender": "dsaas-test@outlook.com",
              "subject": "DSaaS: Error with source validation",
              "body_mimetype": "text/html",
              "body_template.$": "$.ErrorOutput.Cause",
              "destination.$": "$.author-email",
              "send_credentials": [
                {
                  "credential_type": "smtp",
                  "credential_value": {
                    "hostname": "smtp.office365.com",
                    "username": "dsaas-test@outlook.com",
                    "password.$": "$._private_password",
                    "__Private_Parameters": [
                      "password"
                    ]
                  }
                }
              ],
              "notification_method": "any",
              "notification_priority": "low"
            },
            "ActionScope": "https://auth.globus.org/scopes/5fac2e64-c734-4e6b-90ea-ff12ddbf9653/notification_notify"
          }
    }
}