workflow/single-function-compute/definition.json
{
    "Comment": "Download, executes a function and commits to database",
    "StartAt": "download",
    "States": {
        "download": {
            "Type": "Action",
            "ActionUrl": "https://compute.actions.globus.org/",
            "Parameters": {
                "tasks.=": "getattr('tasks')"
            },
            "ResultPath": "$.DownloadResult",
            "Next": "prepare-custom-function"
        },
        "prepare-custom-function": {
            "Type": "ExpressionEval",
            "Comment": "Set details for custom process",
            "Parameters": {
                "tasks": [
                    {
                        "endpoint.$": "$.osprey-worker-endpoint",
                        "function.$": "$.user-wrapper-function",
                        "args.$": "$.DownloadResult.details.result[0][0]",
                        "kwargs.$": "$.DownloadResult.details.result[0][1]"
                    }
                ]
            },
            "ResultPath": "$.CustomFuncParams",
            "Next": "custom-user-function"
        },
        "custom-user-function": {
            "Type": "Action",
            "ActionUrl": "https://compute.actions.globus.org/",
            "Parameters": {
                "tasks.$": "$.CustomFuncParams.tasks"
            },
            "ResultPath": "$.CustomFunctionResult",
            "Next": "prepare-commit"
        },
        "prepare-commit": {
            "Type": "ExpressionEval",
            "Comment": "Set details for database commit process",
            "Parameters": {
                "tasks": [
                    {
                        "endpoint.$": "$.osprey-worker-endpoint",
                        "function.$": "$.database-commit-function",
                        "args.$": "$.CustomFunctionResult.details.result[0][0]",
                        "kwargs.$": "$.CustomFunctionResult.details.result[0][1]"
                    }
                ]
            },
            "ResultPath": "$.CommitParams",
            "Next": "database-commit"
        },
        "database-commit": {
            "Type": "Action",
            "ActionUrl": "https://compute.actions.globus.org/",
            "Parameters": {
                "tasks.$": "$.CommitParams.tasks"
            },
            "End": true
        }
    }
}